*{

 box-sizing: border-box;

}

body{
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
line-height: 1.5em;
margin-top: 0px;
}


.encabezado{

background-color: #0C3445;
overflow: hidden;
height: 80px;

}
.contenedor{
width: 980px;
margin: 0 auto;
}

.logo{
float: left;
margin-top: -7px;
}
.encabezado nav{
    float: right;

}
.encabezado nav ul{
margin: 0;
padding: 0;
list-style: none;
}
.encabezado nav ul li{
display: inline-block;
margin-right: -4px;
}
.encabezado nav ul li a{
display: block;
color: #fff;
padding: 28px;
border-left: 1px solid #696969;
text-decoration: none;

}

.presentacion{
border: 3px solid red;
overflow: hidden;
}

.encabezado nav ul li a:hover{
    background: #575757;
    }
.introduccion{

    float: left;
}
.presentacion img{
    float: right;

}



